<div class="container" style="border: 2px solid blue;">
    <div class="row mt-4 text-center" style="border: 2px solid red;">
        <div class="col-md-6 m-auto">
            <form>
                <div class="row mb-3">
                  <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputNama">
                  </div>
                </div>
                
                <div class="row mb-3">
                  <label for="inputAge" class="col-sm-2 col-form-label">Umur</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" id="inputAge">
                  </div>
                </div>
            
                <div class="row mb-3">
                    <label for="inputJurusan" class="col-sm-2 col-form-label">Jurusan</label>
                    <div class="col-sm-3">
                        <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                        <select class="form-select" id="specificSizeSelect">
                          <option selected>Choose...</option>
                          <option value="MI">Manajemen Informatika</option>
                          <option value="AK">Akuntansi</option>
                          <option value="AB">Administrasi Bisnis</option>
                          <option value="HUMAS">Hubungan Masyarakat</option>
                        </select>
                      </div>
                  </div>
            
                  <div class="row mb-3">
                    <label for="" class="col-sm-2 col-form-label">Umur</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" id="inputAge">
                    </div>
                  </div>
            
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>
